.work-btn:hover{
    background: #3bace2;
    transition: background-color 0.4s ease;
    border-color: #3bace2;
    
}
.work-btn{
    transition: background-color 0.4s ease;
    border-radius: 40px;
    gap: 10px;
}
@media screen and (max-width: 375px) {
    h1.name{
        font-size: 30px;
    }
    h2.name2{
        font-size: 25px;
    }
    p.intro{
        font-size: 15px;
    }
}